
$primary-color: #00eeffad
$light-color:#fff
$dark-color:  #333  
$gray-text-color:#b9babc
$bg-color:#15161d
$secondary-bg-color:#000000
$section-bg-color:#e7e7e7
$link-color:#1020cd
$container-width: 1170px          
