@use 'variables'
@use 'reset'


html
    font-size: 1rem

body
    background: linear-gradient(to right, #ece9e6, #ffffff)
strong
    color: red
    font-size: 2rem
    padding: 5px
    

#LD
    color: variables.$primary-color    



