//Reset CSS
*    
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'roboto',Verdana, Geneva, Tahoma, sans-serif
    text-decoration: none


$cor-padrao: #00f2ff   
$background-color: #1f1f1f

h1
    color: #2d10b0  

i
    color: $cor-padrao
    